/* Estilo general */
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 20px;
}

/* Contenedor principal */
.container {
    max-width: 600px;
    margin: auto;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Títulos */
h1, h3 {
    color: #42a5f5;
}

/* Formularios y entradas */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

input, button {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

input {
    background-color: #333;
    color: white;
    border: 1px solid #555;
    text-align: center;
}

button {
    background-color: #42a5f5;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #1e88e5;
}

/* Listas */
ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}

/* Resultado */
#result {
    font-size: 18px;
    font-weight: bold;
    color: #ffeb3b;
    margin-top: 15px;
}

.result-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.result-box {
    background-color: #222;
    padding: 15px;
    border-radius: 10px;
    width: 40%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
   

}

#problemStatement {
    width: 90%;
    height: 200px;
    resize: vertical;
    font-size: 16px;
    padding: 10px;
}


.result-boxIA {
    background-color: #222;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
   

}
.generalAnalysisBox {
    width: 90%;  /* Ajusta el ancho al 90% del contenedor */
    max-width: 1000px;  /* Define un ancho máximo */
    margin: 20px auto;  /* Centra el cuadro */
    text-align: justify;  /* Justifica el texto */
    display: flex;  /* Usa flexbox para alinear correctamente */
    flex-wrap: wrap;  /* Evita que se agrupe en una columna */
    padding: 15px;  /* Espaciado interno */
} 

.menu-button {
    margin-top: 20px;
    text-align: center;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.back-button:hover {
    background-color: #0056b3
}

.shortest-path-container {
    display: flex;
    justify-content: center;
    gap: 50px; /* Espacio entre los elementos */
    align-items: center;
}

.shortest-path-box {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.shortest-path-box label {
    font-weight: bold;
    margin-bottom: 5px;
}
