<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ingresar Problema</title>
    <link rel="stylesheet" href="{{ url_for('programacion_linear_solver.static', filename='style.css') }}">
    <input type="hidden" name="contexto_problema" value="{{ contexto_problema }}">

</head>
<body>
    <div class="container">
        <h1>Definir Problema</h1>
        
        <form method="post">
            <!-- Tipo de Objetivo -->
            <div class="form-group">
                <label for="objetivo_tipo">Tipo de Objetivo:</label>
                <select id="objetivo_tipo" name="objetivo_tipo">
                    <option value="Minimizar">Minimizar</option>
                    <option value="Maximizar">Maximizar</option>
                </select>
            </div>

            <!-- Función Objetivo -->
            <h2>Función Objetivo</h2>
            <div class="funcion-objetivo">
                <span class="variable-label">{% if es_dualidad %} W = {% else %} Z = {% endif %}</span>
                {% for i in range(num_variables) %}
                    <input type="text" name="obj_{{i}}" required class="input-small"> 
                    <span class="variable-label">{% if es_dualidad %} Y{{i+1}} {% else %} X{{i+1}} {% endif %}</span>
                {% endfor %}
            </div>

            <!-- Restricciones -->
            <h2>Restricciones</h2>
            <div class="restricciones">
                {% for i in range(num_restricciones) %}
                    <div class="restriccion">
                        {% for j in range(num_variables) %}
                            <input type="text" name="res_{{i}}_{{j}}" required class="input-small"> 
                            <span class="variable-label">{% if es_dualidad %} Y{{j+1}} {% else %} X{{j+1}} {% endif %}</span>
                        {% endfor %}
                        <select name="signo_{{i}}" class="signo">
                            <option value="<=">≤</option>
                            <option value=">=">≥</option>
                            <option value="=">=</option>
                        </select>
                        <input type="text" name="const_{{i}}" required class="input-small">
                    </div>
                {% endfor %}
            </div>

            <!-- Botón Resolver -->
            <button type="submit" class="btn">Resolver</button>
        </form>

        <!-- Botón para regresar al Menú Principal -->
        <div class="menu-button">
            <a href="/" class="back-button">Regresar al Menú Principal</a>
        </div>
    </div>
</body>
</html>
