<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Menú Principal</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="title">Sistema para Resolver Problemas de Programación Lineal, Transporte y Redes</h1>

        <h2>Seleccione una Aplicación</h2>
        <div class="menu-options">
            <a href="/programacion_linear_solver/" class="menu-button">Programacion Lineal Solver</a>
            <a href="/network_solver/" class="menu-button">Network Solver</a>
            <a href="/transporte_solver_web/" class="menu-button">Transporte Solver Web</a>
        </div>

        <h3>Integrantes</h3>
        <ul class="integrantes-list">
            <li>Alison Albuja</li>
            <li>Jordin Pinzón</li>
            <li>Julián Pulupa</li>
            <li>Alexandra Vaca</li>
            <li>Fernando Yaguana</li>
        </ul>
    </div>
</body>
</html>
